/* Header */
@import 
	url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

header {
	font-family:"Yanone Kaffeesatz";
	width: 100%;
	color: black;
	background-color: white;
	position: relative;
}
 
h1 {
	font-size: 60px:
	margin: 0;
	float: left;
	padding: 5px;
}
 
 
/* Navigation */
 
nav {
	position: fixed;
	float: right;
}
 
nav ul {
	list-style-type: none;
	display: flex;
	margin-top: 10px
}
 
nav li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
